  .clearfix:after {
    content: "";
    display: table;
    clear: both;
    width: 18cm;
  }

  a {
    color: #0087C3;
    text-decoration: none;
  }

  body {
    position: relative;
    width: 18cm;
    height: 29.0cm;
    margin: 0 auto;
    color: #555555;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  header {
    padding: 2px 0;
    margin-top: 0px;
    margin-bottom: 2px;
    border-bottom: 1px solid #AAAAAA;
  }


  #logo {
    float: left;
    margin-top: 8px;
  }

  #logo img {
    height: 70px;
  }

  #company {
    text-align: right;
  }


  #details {
    padding-top: 10px;
    margin-bottom: 0px;
  }

  #client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
  }

  #client .to {
    color: #777777;
  }

  h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
  }

  #invoice {
    text-align: right;
  }

  #invoice h1 {
    color: #0087C3;
    font-size: 2.2em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
  }

  #invoice .date {
    font-size: 1.1em;
    color: #777777;
  }


  table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 10px;
  }

  table th, table td {
    padding: 12px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid grey;
  }

  table th {
    white-space: nowrap;
    font-weight: normal;
  }

  table td {
    text-align: right;
  }

  table td h3{
    color: #57B223;
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
  }

  table .no {
    font-size: 1.0em;
  }

  table .desc {
    text-align: left;
    font-size: 1.0em;

  }
  table .bank {
    text-align: center;
    font-size: 0.9em;
    color: black !important;
  }
  table .unit {
    font-size: 0.9em;
  }
  table .tipo_m{
    text-align: center;
    font-size: 0.9em;
  }

  table .qty {
    text-align: center;
    font-size: 0.9em;
  }
  table .cc{
    text-align: center;
    font-size: 0.9em;
  }
  table .total {
    background: #DDDDDD;
    font-size: 1.0em;
  }
  table .cci{
    text-align: center;
    font-size: 0.9em;
  }

  table td.unit, table td.qty, table td.total {
    font-size: 1.2em;
  }

  table tbody tr:last-child td {
    border: none;
  }

  table tfoot td {
    padding: 10px 12px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap;
    border-top: 1px solid #AAAAAA;
  }

  table tfoot tr:first-child td {
    border-top: none;
  }

  table tfoot tr:last-child td {
    color: #57B223;
    font-size: 1.4em;
    border-top: 1px solid #57B223;

  }

  table tfoot tr td:first-child {
    border: none;
  }

  #thanks{
    font-size: 2em;
    margin-bottom: 10px;
  }

  #notices{
    padding-right: 6px;
    border-right: 6px solid #0087C3;

  }

  #notices .notice {
    font-size: 1.2em;
  }

  footer {
    color: #777777;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 2px 0;
    text-align: center;
  }


  #table_header{
    color: black;
    font-size: 1.1em;
    border-color: black;
    background-color: crimson !important;

  }
